<header class="header">
    <div class="header-profile-pic">
        <a href="/">
            <img src="@Profile.Portrait" alt="@Profile.Name">
            <p>@Profile.Name</p>
            <span>@Profile.Title</span>
        </a>
    </div>
    <ul class='navbar-nav'>
        <li class="nav-link" href="/blog">
            <a href="/blog">
                <span class='glyphicon glyphicon-home'></span> Blog
            </a>
        </li>
        <li class="nav-link" href="/about-me">
            <a href="/about">
                <span class='glyphicon glyphicon-education'></span> About Me
            </a>
        </li>
        <li class="nav-link" href="/contact-me">
            <a href="/contact">
                <span class='glyphicon glyphicon-th-list'></span> Contact
            </a>
        </li>
    </ul>
    <div class="navbar-links">
        <a href="https://github.com/aidz92" target="_blank">
            <!--<img src="" alt="Adrian Brink on GitHub">-->
        </a>
        <a href="https://www.facebook.com/adrian.brink92" target="_blank">
            <!--<img src="" alt="Adrian Brink on Facebook">-->
        </a>
        <span>
            &copy; @DateTime.Now.Year
        </span>
    </div>
</header>

@functions {
    Profile Profile { get; set; }

    protected override async Task OnInitAsync()
    {
        Profile = new Profile();
    }
}

<style>
    /*
    Common:
    background-color: #3a4250; //base 1
    background-color: #2a313c; //base 2
    font-family: 'Work Sans', sans-serif;
*/

    .header {
        padding: 30px 0;
        color: #fff;
        background-color: #3a4250;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
    }

    .header-profile-pic {
        margin: 20px 0 50px 0;
        height: 50px;
        position: relative;
        padding: 0 0 0 80px;
    }

        .header-profile-pic img {
            position: absolute;
            top: 0;
            left: 20px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }

        .header-profile-pic p {
            margin: 0;
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 18px;
        }

        .header-profile-pic span {
            font-size: 13px;
            font-weight: 400;
        }

    ul.navbar-nav {
        width: 100%
    }

    li.nav-link {
        position: relative;
        color: #fff;
        text-decoration: none;
        letter-spacing: .9px;
        display: block;
        font-size: 18px;
        width: 100%;
        margin: 0px;
    }

        li.nav-link a {
            padding: 18px 26px;
            color: white;
            font-weight: 600;
            width: 100%;
            display: block;
        }

            li.nav-link a:hover {
                text-decoration: none;
                background-color: #4a5669;
                cursor: pointer;
                transition: all .2s ease;
            }

        li.nav-link:focus, li.nav-link.active {
            outline: 0 !important;
            background-color: #2a313c;
        }


    .navbar-links {
        position: absolute;
        bottom: 15px;
        left: 30px;
        right: 30px;
        display: flex;
        align-items: center;
    }

        .navbar-links a {
            margin: 0 10px 0 0;
            width: 18px;
            display: inline-block;
        }

        .navbar-links span {
            display: block;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    /*
    Common:
    background-color: #3a4250; //base 1
    background-color: #2a313c; //base 2
    font-family: 'Work Sans', sans-serif;
*/

    .header {
        padding: 30px 0;
        color: #fff;
        background-color: #3a4250;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
    }

    .header-profile-pic {
        margin: 20px 0 50px 0;
        height: 50px;
        position: relative;
        padding: 0 0 0 80px;
    }

        .header-profile-pic img {
            position: absolute;
            top: 0;
            left: 20px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }

        .header-profile-pic p {
            margin: 0;
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 18px;
        }

        .header-profile-pic span {
            font-size: 13px;
            font-weight: 400;
        }

    ul.navbar-nav {
        width: 100%
    }

    li.nav-link {
        position: relative;
        color: #fff;
        text-decoration: none;
        letter-spacing: .9px;
        display: block;
        font-size: 18px;
        width: 100%;
        margin: 0px;
    }

        li.nav-link a {
            padding: 18px 26px;
            color: white;
            font-weight: 600;
            width: 100%;
            display: block;
        }

            li.nav-link a:hover {
                text-decoration: none;
                background-color: #4a5669;
                cursor: pointer;
                transition: all .2s ease;
            }

        li.nav-link:focus, li.nav-link.active {
            outline: 0 !important;
            background-color: #2a313c;
        }


    .navbar-links {
        position: absolute;
        bottom: 15px;
        left: 30px;
        right: 30px;
        display: flex;
        align-items: center;
    }

        .navbar-links a {
            margin: 0 10px 0 0;
            width: 18px;
            display: inline-block;
        }

        .navbar-links span {
            display: block;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            right: 0;
        }

</style>