@page "/blog"
@inject HttpClient Http

<style>
    a {
        color: black;
    }

        a:hover {
            text-decoration: none;
        }
</style>

<div class="app-content">
    <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom.Is3.FromTop">Blog</Heading>

    @if (!Posts.Any())
    {
        <span>Loading...</span>
    }
    else
    {
        <Row>
            @foreach (var post in Posts)
            {
                <Column ColumnSize="ColumnSize.IsFull.OnMobile.Is6.OnTablet">
                    <a href="blog-post/@post.Id">
                        <Card Margin="Margin.Is4.FromBottom">
                            <CardImage Source="@post.ImageUrl" Alt="@post.Title">
                            </CardImage>
                            <CardBody>
                                <CardTitle Size="4">@post.Title </CardTitle>
                                <CardSubTitle>@post.PublishedDate.ToString("dddd, dd MMM yyyy")</CardSubTitle>
                                <CardText>
                                    @foreach (var skill in post.Skills)
                                    {
                                        <Badge Color="@BlazoriseHelper.ResolveColour(skill.Colour)">@skill.Name</Badge>
                                    }
                                </CardText>
                            </CardBody>
                        </Card>
                    </a>
                </Column>
            }
        </Row>
    }
</div>

@functions {

List<Interface.CMS.BlogPost> Posts { get; set; } = new List<Interface.CMS.BlogPost>();

protected override async Task OnInitAsync()
{
    Posts = await Http.PostJsonAsync<List<Interface.CMS.BlogPost>>("api/cms/get-blog-posts", new { });
}

}