@page "/blog-post"
@page "/blog-post/{Id}"
@inject HttpClient Http

<style>
    .card-img-top {
        max-height: 400px;
        object-fit: contain;
    }
</style>

<div class="app-content">
    <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom.Is3.FromTop"></Heading>

    @if (Post == null)
    {
        <span>Loading...</span>
    }
    else
    {
        <Row>
            <Column ColumnSize="ColumnSize.IsFull">
                <Card Margin="Margin.Is4.FromBottom">
                    <CardImage Source="@Post.ImageUrl" Alt="@Post.Title">
                    </CardImage>
                    <CardBody>
                        <CardTitle Size="4">@Post.Title </CardTitle>
                        <CardSubTitle>@Post.PublishedDate.ToString("dddd, dd MMM yyyy")</CardSubTitle>
                        <CardText>

                        </CardText>
                    </CardBody>
                </Card>
            </Column>
            <Column ColumnSize="ColumnSize.IsFull">
                @((MarkupString)Post.Body)
            </Column>
        </Row>
    }
</div>

@functions {

        Interface.CMS.BlogPost Post { get; set; }

    [Parameter]
    string Id { get; set; }

    protected override async Task OnInitAsync()
    {
        Post = await Http.PostJsonAsync<Interface.CMS.BlogPost>($"api/cms/get-blog-post", new { Id = Id });
    }

}