@page "/contact"
@inject HttpClient Http

<div class="app-content">
    <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom.Is3.FromTop">Contact</Heading>

    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <CardTitle>Drop a line with your requirements and get a free quote and timeline.</CardTitle>
                    <CardSubtitle>You can also contact me on @GlobalConfig.EmailAddress</CardSubtitle>
                </CardHeader>
                <CardBody>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">Name</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <TextEdit Placeholder="name" bind-Text="@name" />
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">Email</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <TextEdit Role="TextRole.Email" Placeholder="email" bind-Text="@email" />
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">Mobile number</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <TextEdit Placeholder="mobile number" bind-Text="@mobileNumber" />
                        </FieldBody>
                    </Field>
                    <Field IsHorizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is2">Message</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <MemoEdit Rows="8" bind-Text="@message" />
                        </FieldBody>
                    </Field>
                    <Field>
                        <SimpleButton Color="Color.Primary" Clicked="async () => await SendMessage()">Send message</SimpleButton>
                    </Field>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Snackbar ref="snackbar">
        <SnackbarBody>
            Your message has been sent successfully! :)
        </SnackbarBody>
    </Snackbar>
</div>

@functions {
    Global GlobalConfig { get; set; } = new Global();
    bool MessageSent { get; set; }
    Snackbar snackbar;

    string name { get; set; }
    string email { get; set; }
    string mobileNumber { get; set; }
    string message { get; set; }

    public async Task SendMessage()
    {
        await Http.PostJsonAsync("api/cms/send-contact-email",
            new Interface.ServiceModels.SendContactEmailRequest {
                Name = name,
                Email = email,
                Message = message,
                MobileNumber = mobileNumber
            });

        name = string.Empty;
        email = string.Empty;
        mobileNumber = string.Empty;
        message = string.Empty;

        snackbar.Show();
        this.StateHasChanged();
    }

    protected override async Task OnInitAsync()
    {
        GlobalConfig = await Http.PostJsonAsync<Global>("api/cms/get-global", new { });
    }
}