@page "/"
@inject ICMSService CMS
@inject NavigationManager NavigationManager
<!-- Page Header -->
<header class="masthead" style="background-image: url('@ViewModel.ImageHeaderIndex')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewModel.Heading</h1>
                    <span class="subheading">@ViewModel.Subheading</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var post in Posts)
            {
                <div class="post-preview">
                    <a href="/post/@post.Slug">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.Subtitle
                        </h3>
                    </a>
                    @if (post.Tags.Any())
                    {
                        <span class="meta mb-2">
                            @foreach (var tag in post.Tags)
                            {
                                <a href="/search-tag/@tag" class="badge badge-secondary">@tag</a>
                            }
                        </span>
                    }
                    <p class="post-meta">
                        Posted by
                        <a href="@post.Author.Link">
                            @post.Author.Name
                        </a>
                        on @post.PublishedDate.ToString("MMMM dd, yyyy")
                    </p>
                </div>
                <hr>
            }
            @if (showMorePosts)
            {
                <div class="clearfix">
                    <button @onclick="@LoadMorePosts" class="btn btn-primary float-right" href="#">Older Posts &rarr;</button>
                </div>
            }
        </div>
    </div>
    <!-- Blog Post Tag Cloud -->
    <div class="row">
        <div class="col-lg-8 col-md-10 py-4 mx-auto text-center">
            <h2 class="mb-4">Cloud Tags</h2>
            @foreach (var item in TagCloudItems)
            {
                <a href="/search-tag/@item.Tag" class="@ResolveTagCloudCss(item, TagCloudItemsCount) mx-1">@item.Tag</a>
            }
        </div>
    </div>
</div>

@functions {
    Models.CMS.Pages.PageIndex ViewModel { get; set; } = new Models.CMS.Pages.PageIndex();
    List<BlogPost> Posts { get; set; } = new List<BlogPost>();
    List<TagCloudItem> TagCloudItems { get; set; } = new List<TagCloudItem>();
    int TagCloudItemsCount { get; set; } = 0;

    const int defaultPostIncrement = 4;
    int maxPostCount = 0;
    bool showMorePosts = false;

    protected override async Task OnInitializedAsync()
    {
        ViewModel = await CMS.GetPage_Index();
        Posts = await CMS.GetBlogPosts();
        maxPostCount = Posts.Count;

        Posts = Posts.OrderByDescending(p => p.PublishedDate).Take(defaultPostIncrement).ToList();

        CheckForMorePosts();

        TagCloudItems = await CMS.GetTagCloud(new GetTagCloudRequest()
        {
            Type = TagCloudTypeEnum.BlogPosts
        });
        TagCloudItemsCount = TagCloudItems.Count;
    }

    private async Task LoadMorePosts()
    {
        var postCount = Posts.Count;
        Posts = await CMS.GetBlogPosts();
        maxPostCount = Posts.Count;

        Posts = Posts.OrderByDescending(p => p.PublishedDate).Take(defaultPostIncrement + postCount).ToList();

        CheckForMorePosts();
    }

    private void CheckForMorePosts()
    {
        if (Posts.Count == maxPostCount)
        {
            showMorePosts = false;
        }
        else
        {
            showMorePosts = true;
        }
    }

    public static string ResolveTagCloudCss(TagCloudItem tag, int itemCount)
    {
        var tagPercent = (decimal)tag.Count / (decimal)itemCount * 100;
        if (tagPercent >= 90)
        {
            return "tag-cloud-size-1";
        }
        else if (tagPercent >= 80)
        {
            return "tag-cloud-size-2";
        }
        else if (tagPercent >= 70)
        {
            return "tag-cloud-size-3";
        }
        else if (tagPercent >= 60)
        {
            return "tag-cloud-size-4";
        }
        else if (tagPercent >= 50)
        {
            return "tag-cloud-size-5";
        }
        else if (tagPercent >= 40)
        {
            return "tag-cloud-size-6";
        }
        else if (tagPercent >= 30)
        {
            return "tag-cloud-size-7";
        }
        else if (tagPercent >= 20)
        {
            return "tag-cloud-size-8";
        }
        return "tag-cloud-size-9";
    }
}
