@page "/"
@inject ICMSService CMS
@inject NavigationManager NavigationManager
<!-- Page Header -->
<header class="masthead" style="background-image: url('@ViewModel.ImageHeaderIndex')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewModel.Heading</h1>
                    <span class="subheading">@ViewModel.Subheading</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var post in Posts)
            {
                <div class="post-preview">
                    <a href="/post/@post.Id">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.SubTitle
                        </h3>
                    </a>
                    @if (post.Tags.Any())
                    {
                        <span class="meta mb-2">
                            @foreach (var tag in post.Tags)
                            {
                                <span class="badge badge-secondary">@tag</span>
                            }
                        </span>
                    }
                    <p class="post-meta">
                        Posted by
                        <a href="@post.Author.Link">
                            @post.Author.Name
                        </a>
                        on @post.PublishedDate.ToString("MMMM dd, yyyy")
                    </p>
                </div>
                <hr>
            }
            @if (showMorePosts)
            {
                <div class="clearfix">
                    <button @onclick="@LoadMorePosts" class="btn btn-primary float-right" href="#">Older Posts &rarr;</button>
                </div>
            }
        </div>
    </div>
</div>

@functions {
    Models.CMS.Pages.PageIndex ViewModel { get; set; } = new Models.CMS.Pages.PageIndex();
    List<BlogPost> Posts { get; set; } = new List<BlogPost>();

    const int defaultPostIncrement = 4;
    int maxPostCount = 0;
    bool showMorePosts = true;

    protected override async Task OnInitializedAsync()
    {
        ViewModel = await CMS.GetPage_Index();
        Posts = await CMS.GetBlogPosts();

        Posts = Posts.OrderByDescending(p => p.PublishedDate).Take(defaultPostIncrement).ToList();
    }

    private async Task LoadMorePosts()
    {
        var postCount = Posts.Count;
        Posts = await CMS.GetBlogPosts();
        maxPostCount = Posts.Count;

        Posts = Posts.OrderByDescending(p => p.PublishedDate).Take(defaultPostIncrement + postCount).ToList();

        if (Posts.Count == maxPostCount)
        {
            showMorePosts = false;
        }
    }
}