@page "/post/{Slug}"
@inject ICMSService CMS
@inject IJSRuntime JsRuntime;
@inject Microsoft.Extensions.Options.IOptions<CalamariBlog.Infrastructure.Configuration.DisqusConfig> disqusConfig
<!-- Page Header -->
<header class="masthead" style="background-image: url('@BlogPost.ImageHeaderUrl')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@BlogPost.Title</h1>
                    <h2 class="subheading">@BlogPost.SubTitle</h2>
                    @if (BlogPost.Tags.Any())
                    {
                        <span class="meta mb-2">
                            @foreach (var tag in BlogPost.Tags)
                            {
                                <span class="badge badge-secondary">@tag</span>
                            }
                        </span>
                    }
                    <span class="meta">
                        Posted by
                        <a href="@BlogPost.Author.Link">@BlogPost.Author.Name</a>
                        on @BlogPost.PublishedDate.ToString("MMMM dd, yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @((MarkupString)BlogPost.BodyHtml)

                <hr />

                <!-- Disqus Comments -->
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</article>


@functions {
    [Parameter]
    public string Slug { get; set; }

    BlogPost BlogPost { get; set; }

    public class DisqusConfig
    {
        public string EmbedJsUrl { get; set; }

        public string PageIdentifier { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        BlogPost = await CMS.GetBlogPost(Slug);
        var response = await JsRuntime.InvokeAsync<string>("InitialiseDisqus", new DisqusConfig()
        {
            EmbedJsUrl = disqusConfig.Value.EmbedJsUrl,
            PageIdentifier = Slug
        });
    }
}