@page "/post/{Slug}"
@inject ICMSService CMS
@inject NavigationManager NavigationManager
<!-- Page Header -->
<header class="masthead" style="background-image: url('@BlogPost.ImageHeaderUrl')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@BlogPost.Title</h1>
                    <h2 class="subheading">@BlogPost.Subtitle</h2>
                    @if (BlogPost.Tags.Any())
                    {
                        <span class="meta mb-2">
                            @foreach (var tag in BlogPost.Tags)
                            {
                                <a href="/search-tag/@tag" class="badge badge-secondary">@tag</a>
                            }
                        </span>
                    }
                    <span class="meta">
                        Posted by
                        <a href="@BlogPost.Author.Link">@BlogPost.Author.Name</a>
                        on @BlogPost.PublishedDate.ToString("MMMM dd, yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @((MarkupString)BlogPost.BodyHtml)

                <hr />

                <SocialShareLinkComponent Url="@NavigationManager.Uri" Text="@BlogPost.Title" />

                <hr />

                <DisqusComponent Slug="@NavigationManager.Uri" />

            </div>
        </div>
    </div>
</article>


@functions {
    [Parameter]
    public string Slug { get; set; }

    BlogPost BlogPost { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BlogPost = await CMS.GetBlogPost(Slug);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await MetaTagsManager.SetMetaTags(new SetMetaTagsRequest()
        {
            Title = BlogPost.Title,
            Description = BlogPost.Subtitle,
            Image = BlogPost.ImageHeaderUrl
        });
    }
}