@page "/projects"
@inject ICMSService CMS

<!-- Page Header -->
<header class="masthead" style="background-image: url('@ViewModel.ImageHeader')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Projects</h1>
                    <span class="subheading">@Subtitle</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            @foreach (var project in ProjectsList.OrderByDescending(p => p.CreatedDate))
            {
                <div class="row">
                    <img class="col-lg-4 col-md-4" src="@project.ImageThumbnailUrl" />
                    <div class="col-lg-8 col-md-8 post-preview">
                        <a href="/project/@project.Slug">
                            <h2 class="post-title">
                                @project.Title
                            </h2>
                            <h3 class="post-subtitle">
                                @project.Subtitle
                            </h3>
                        </a>
                        @if (project.Tags.Any())
                        {
                            <span class="meta mb-2">
                                @foreach (var tag in project.Tags)
                                {
                                    <a href="/search-tag/@tag" class="badge badge-secondary">@tag</a>
                                }
                            </span>
                        }

                    </div>
                </div>
                <hr>
            }
        </div>
    </div>
</div>

@functions {
    List<Models.CMS.Project> ProjectsList { get; set; } = new List<Models.CMS.Project>();
    Models.CMS.Pages.PageProjects ViewModel { get; set; } = new Models.CMS.Pages.PageProjects();
    string Subtitle = "These are some of the personal projects I've done";

    protected override async Task OnInitializedAsync()
    {
        ProjectsList = await CMS.GetProjects();
        ViewModel = await CMS.GetPage_Projects();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await MetaTagsManager.SetMetaTags(new SetMetaTagsRequest()
        {
            Title = "Projects",
            Description = Subtitle,
            Image = ViewModel.ImageHeader
        });
    }
}