@page "/project/{Slug}"
@inject ICMSService CMS
@inject NavigationManager NavigationManager

<!-- Page Header -->
<header class="masthead" style="background-image: url('@ProjectModel.ImageHeaderUrl')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>@ProjectModel.Title</h1>
                    <span class="subheading">@ProjectModel.Subtitle</span>
                    @if (ProjectModel.Tags.Any())
                    {
                        <span class="meta d-block mt-2">
                            @foreach (var tag in ProjectModel.Tags)
                            {
                                <a href="/search-tag/@tag" class="badge badge-secondary">@tag</a>
                            }
                        </span>
                    }
                    <span class="d-block mt-2">
                        <a class="text-white" href="@ProjectModel.ExternalUrl" target="_blank">@ProjectModel.ExternalUrl</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @((MarkupString)ProjectModel.BodyHtml)

                <hr />

                <SocialShareLinkComponent Url="@NavigationManager.Uri" Text="@ProjectModel.Title" />

                <hr />

                <DisqusComponent Slug="@NavigationManager.Uri" />
            </div>
        </div>
    </div>
</article>

@functions {
    [Parameter]
    public string Slug { get; set; }

    Models.CMS.Project ProjectModel { get; set; } = new Models.CMS.Project();

    protected override async Task OnInitializedAsync()
    {
        ProjectModel = await CMS.GetProject(Slug);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await MetaTagsManager.SetMetaTags(new SetMetaTagsRequest()
        {
            Title = ProjectModel.Title,
            Description = ProjectModel.Subtitle,
            Image = ProjectModel.ImageHeaderUrl
        });
    }
}